.mat-toolbar {
    background: rgb(255, 184, 51);
    position: sticky;
    top: 0%;
}

i {
    font-size: 20px;
} 

.example-spacer {
    flex: 1 1 auto;
  }

.profile {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.mat-toolbar-row a {
    color: #fff;
}

h1 {
    cursor: pointer;
}

#content {
    padding: 20px;
}
