
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1><a routerLink="">POLLING</a></h1>
      <span class="example-spacer"></span>
      <a routerLink="profile">Profile <i class="far fa-user"></i></a>
    </mat-toolbar-row>
  </mat-toolbar>

<div id="container">
  <app-sidebar></app-sidebar>
  <!--firebase stuff

    <input type="text" [(ngModel)]="title" name="title" placeholder="enter title">
  <textarea [(ngModel)]="content" name="content" placeholder="add content"></textarea>
  <input type="submit" value="Add a post" (click)="addpost()">


  <ul *ngFor="let post of Posts | async">
    <li>
      <strong>{{ post.title }}</strong>
      <br>
      {{ post.content }}
    </li>
  </ul>
  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>