<div id="container" *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!--User not logged in -->
 <ng-template #guest>
   <h3>Hey, Guest</h3>
   <p>Login to get started...</p>

   <button mat-button (click)="auth.googleLogin()">
    <i class="fab fa-google-plus-square"></i> Connect Google
   </button>
 </ng-template>

 <!--User Logged in-->
 <ng-template #authenticated>
   <div *ngIf="auth.user | async as user">
     <h3>Hey, {{user.displayName }}</h3>
     <img [src]="user.photoUrl">
     <p>Uid: {{ user.uid }}</p>
     <p>Favourite Color: {{user?.favouriteColor }}</p>
     <button mat-button (click)="auth.signOut()">Logout</button>
   </div>
 </ng-template>